body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    line-height: 1.6; 
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px; 
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px; 
    width: calc(33.33% - 30px);
    margin: 15px;
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; 
    position: relative; 
    overflow: hidden; 
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0; 
}

.product img {
    width: 100%;
    border-radius: 12px; 
    transition: transform 0.3s; 
}

.product:hover img {
    transform: scale(1.05); 
}

.product h3 {
    font-size: 22px; 
    margin: 10px 0;
    color: #333;
}

.product p {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px; 
}

.cart {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 25px;
    margin: 20px auto;
    width: 320px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s; 
}

.cart:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
}

.cart button {
    background-color: #333;
    color: white;
    border: none;
    padding: 15px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    font-size: 18px; 
}

.cart button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

#cartItems {
    margin-bottom: 10px;
}

#cartItems div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #333;
}

#totalPrice {
    font-weight: bold;
    font-size: 22px; 
    color: #333;
}


.product:nth-child(n+4) {
    width: calc(50% - 30px);
}